<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="css/960_12_col.css" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>

<body hx-boost="true">
    <main class="container">
        {{ template "content" . }}
    </main>
</body>

</html>

