{{ block "events" . }}

{{ range . }}

<article class="article-card">

    <div class="card-body">

        <header class="card-header"
            hx-get="article/{{ .Article.Id }}"
            hx-push-url="true"
            hx-target="body"
            hx-swap="outerHTML">

            {{ .Article.Title }}
        </header>

        <div class="card-tags">
            {{ range .Article.HashTags }}
                <h2 class="card-tag"
                    hx-get="hashtag/{{ . }}"
                    hx-push-url="true"
                    hx-target="body"
                    hx-swap="outerHTML">

                    {{ . }}
                </h2>
            {{ end }}
        </div>

        <section class="card-profile"
            hx-get="profile/{{ .Profile.PubKey }}"
            hx-push-url="true"
            hx-target="body"
            hx-swap="outerHTML">

            <img src="{{ .Profile.Picture }}" />

            <div>
                <b class="author-name">{{ .Profile.Name }}</b>
                <time datetime> {{ .Article.PublishedAt }} </time>
            </div>
        </section>
    </div>
</article>

{{ end }}
{{ end }}
