<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>

<body hx-boost="true">

    <form class="search-bar"
        hx-get="/events"
        hx-target="#cards"
        hx-swap="innerHTML">

        <section>
        <input name="search" type="search" placeholder="Enter NIP-19 entity (npub, nevent, note)"
            hx-get="/validate"
            hx-target="next .message"
            hx-trigger="keyup delay:200ms changed"
        />
        <small class="message"></small>
        </section>

    </form>

    <main>
        <div id="cards" class="cards">
            {{ template "events" . }}
        </div>
    </main>

    <footer>
        <p>Made with <i class="fas fa-heart"></i> by <a href="https://github.com/dextrouz">dextrouz</a></p>
    </footer>

</body>

</html>

