/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* ---------------------------------------------------- */

body {
    display: flex;
    flex-flow: column;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    text-align: center;
    background: #262626;
    line-height: 1.5;
    padding: 4rem;
    gap: 4rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 1.5rem;
}

article {
    cursor: pointer;
}

.article-card {
    display: flex;
    flex-flow: column;
    color: #93a1a1;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background: white;
    border-width: 0px;
    border-style: solid;
    border-color: #586e75;
    text-align: left;
    transition: 0.2s;
    transition: 1000ms;
}

.article-card:hover {
    transform: translateY(-1rem);
    transition: 250ms;
}

.article-body {
    display: flex;
    flex-flow: column;
    flex: 1;
    position: relative;
    gap: 1.5rem;
    padding: 1.5rem;
}

img.article-thumbnail {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-width: 0px;
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.article-header {
    color: black;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.article-header:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.article-tags {
    text-align: center;
}

.article-author {
    -webkit-margin-before: auto;
    margin-block-start: auto;
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 1rem;
    align-items: center;
}

.profile {
    width: 60px;
    height: 60px;
    border-radius: 72% 28% 73% 27% / 28% 48% 52% 72%;
    transition: border-radius 300ms ease-in-out;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    /*filter: grayscale(100%);*/
}

.profile:hover {
    border-radius: 50%;
}

.author-name {
    color: black;
}

.search-bar {
    display: flex;
    justify-content: center;
}

input[type=search] {
    width: 500px;
    padding: 8px 15px 8px 15px;
    border: 0;
    font-size: 16px;
    border-radius: 20px;
    background: snow;
    background-position: 2% 50%;
    background-repeat: no-repeat;
    background-size: 30px;
    transition: 0.5s all ease-in-out;
}

input[type=search]:focus {
    width: 1000px;
    background: snow;
    border: 0;
}
