/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

@font-face {
    font-family: 'Geist';
    src: url('../fonts/Geist/Geist-Light.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('../fonts/Geist/Geist-Bold.otf') format('truetype');
    font-weight: bold;
}


*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* ---------------------------------------------------- */

:root {
    --clr-black: #1E2227;
    --clr-dark: #323842;
    --clr-green: #98C379;
    --clr-red: #E06C75;
    --clr-yellow: #E5C07B;
    --clr-blue: #61AFEF;
    --clr-pink: #C678DD;
    --clr-cyan: #56B6C2;
    --clr-white: #F6F7F9;
    --clr-text: #ABB2BF;
}

body {
    font-family: 'Geist';
    font-size: 16px;
    background: var(--clr-black);
}

main {
    display: block;
    padding: 1rem;
    background: var(--clr-black);
}

.search {
    display: flex:
    flow-direction: column;
    align-items: center;
    max-width: 800px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container */
    padding: 1rem; /* Optional padding */
}

.search-container {
    display: flex; /* Enable Flexbox */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between items */
}

.small {
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
    padding: 1rem; /* Optional margin to separate from the button */
}

.search-bar {
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
    outline: 0;
    border: 2px solid transparent; /* required to mock outline, so layout does not shift */
    padding: 8px;
    border-radius: 8px;
    background: var(--clr-dark);
    font-size: 16px;
    color: var(--clr-text);
}

.search-bar:focus {
    background:
        linear-gradient(to top, var(--clr-dark), var(--clr-dark)) padding-box,
        linear-gradient(to top, var(--clr-cyan), var(--clr-blue)) border-box;
}

.message.error {
    color: var(--clr-red);
}

.message.success {
    color: var(--clr-green);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 1rem;
    background: var(--clr-black);
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: var(--clr-black);
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.article img {
    width: 100%;
    height: 50vh;
    padding-bottom: 1rem;
    object-fit: cover;
    mask-image: linear-gradient(black, transparent);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #ABB2BF;
    text-align: left;
    max-width: 50rem;
    gap: 2rem;
    margin-inline: auto;
    width: min(90%, 1000px);
}

.content h2 {
    font-size: xx-large;
    font-weight: bold;
}

.inline {
    color: var(--clr-red);
    text-decoration: none; /* Removes the underline */
}

/* Changing the color when the link is visited */
.inline:visited {
    color: #C678DD; /* Set your desired color for visited links */
}

/* Changing the color when the link is hovered over */
.inline:hover {
    color: #61AFEF; /* Set your desired hover color */
}

a {
    color: var(--clr-blue);
    text-decoration: none; /* Removes the underline */
}

/* Changing the color when the link is visited */
a:visited {
    color: #C678DD; /* Set your desired color for visited links */
}

/* Changing the color when the link is hovered over */
a:hover {
    color: #61AFEF; /* Set your desired hover color */
}

.article-card {
    display: flex;
    flex-flow: column;
    color: #93a1a1;
    border-radius: 1rem;
    background: white;
    border-width: 0px;
    border-style: solid;
    border-color: #586e75;
    text-align: left;
    transition: 0.2s;
    transition: 1000ms;
}

.article-card:hover {
    transform: translateY(-0.5rem);
    transition: 250ms;
}

.card-body {
    display: flex;
    flex-flow: column;
    flex: 1;
    position: relative;
    gap: 1rem;
    padding: 1rem;
}

img.card-thumbnail {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-width: 0px;
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.card-header {
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.card-header:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.article-tags {
    text-align: center;
}

.card-profile {
    -webkit-margin-before: auto;
    margin-block-start: auto;
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.card-profile img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    transition: border-radius 200ms ease-in-out;
    border: 0px solid black;
}

time {
    font-size; small;
}

.card-profile img:hover {
    border-radius: 10px;
}

.author-name {
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    color: #ABB2BF;
    background: var(--clr-black);
    padding-bottom: 1rem;
}

footer i {
    color: var(--clr-red);
}

.profile {
    background: var(--clr-black);
    color: var(--clr-text);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

.profile-banner {
    display: block;
    width: 100%;
    height: 50vh;
    border-radius: 40px;
    object-fit: cover;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: -75px;
    box-shadow: 0 0 0 0px var(--clr-white);
    transition: box-shadow 0.5s;
}

.profile-pic:hover {
    box-shadow: 0 0 0 5px var(--clr-white);
}

.profile h1 {
    font-weight: bold;
    font-size: x-large;
    max-width: 40rem;
}

.profile h2 {
    font-size: small;
    color: var(--clr-text);
}

.profile a {
    color: var(--clr-blue);
    text-decoration: none; /* Removes the underline */
}

.profile a:hover {
    color: var(--clr-cyan);
}

.data {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 0rem 0rem 0rem 0rem;
}

.data > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.data h2 {
    color: var(--clr-text);
    font-weight: bold;
    font-size: large;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.card-tag {
    color: var(--clr-text);
    font-weight: bold;
    font-size: small;
    cursor: pointer
}

.card-tag:hover {
    background: linear-gradient(90deg, var(--clr-blue), var(--clr-pink));
    font-weight: bolder;
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.tag-card {
    display: flex;
    flex-flow: column;
    color: #93a1a1;
    border-radius: 1rem;
    background: white;
    border-width: 0px;
    border-style: solid;
    border-color: #586e75;
    text-align: left;
    transition: 0.2s;
    transition: 1000ms;
}

.tags-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 2rem;
    background: var(--clr-black);
    padding: 2rem;
}

::placeholder {
    font-size: 16px;
    color: var(--clr-text);
}
